CompileFlags:
  CompilationDatabase: build
  Compiler: clang++
  Add:
    - -std=c++23
    - -stdlib=libc++
    - -fuse-ld=lld
    - -Wall
    - -Wextra
    - -Wpedantic

    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\bolt\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\clang\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\clang-tools-extra\clang-apply-replacements\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\clang-tools-extra\include-cleaner\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\compiler-rt\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\flang\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\flang-rt\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libc\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libclc\clc\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libclc\opencl\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libcxx\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libcxx\src\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libcxx\src\experimental\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libcxxabi\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libsycl\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\libunwind\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\lld\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\lldb\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\bolt\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\clang\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\clang-tools-extra\pseudo\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\compiler-rt\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\libcxx\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\libcxxabi\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\lld\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\lldb\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\llvm\utils\gn\secondary\llvm\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\mlir\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\offload\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\openmp\device\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\openmp\runtime\src\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\orc-rt\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\polly\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\third-party\benchmark\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\third-party\boost-math\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\third-party\siphash\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\third-party\unittest\googlemock\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\third-party\unittest\googletest\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\utils\bazel\llvm-project-overlay\clang\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\utils\bazel\llvm-project-overlay\flang\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\utils\bazel\llvm-project-overlay\libc\test\include
    - -IC:\Users\d.sprehe\Source\Workspaces\LLEdge\utils\bazel\llvm-project-overlay\llvm\include