CompileFlags:
  CompilationDatabase: build
  Compiler: clang++
  Add:
    - -std=c++23
    - -stdlib=libc++
    - -fuse-ld=lld
    - -Wall
    - -Wextra
    - -Wpedantic
    - -IC:\Users\brass\Source\Workspaces\lledge\bolt\include
    - -IC:\Users\brass\Source\Workspaces\lledge\clang\include
    - -IC:\Users\brass\Source\Workspaces\lledge\clang-tools-extra\clang-apply-replacements\include
    - -IC:\Users\brass\Source\Workspaces\lledge\clang-tools-extra\include-cleaner\include
    - -IC:\Users\brass\Source\Workspaces\lledge\compiler-rt\include
    - -IC:\Users\brass\Source\Workspaces\lledge\flang\include
    - -IC:\Users\brass\Source\Workspaces\lledge\flang-rt\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libc\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libclc\clc\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libclc\opencl\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libcxx\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libcxx\src\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libcxx\src\experimental\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libcxxabi\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libsycl\include
    - -IC:\Users\brass\Source\Workspaces\lledge\libunwind\include
    - -IC:\Users\brass\Source\Workspaces\lledge\lld\include
    - -IC:\Users\brass\Source\Workspaces\lledge\lldb\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\bolt\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\clang\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\clang-tools-extra\pseudo\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\compiler-rt\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\libcxx\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\libcxxabi\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\lld\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\lldb\include
    - -IC:\Users\brass\Source\Workspaces\lledge\llvm\utils\gn\secondary\llvm\include
    - -IC:\Users\brass\Source\Workspaces\lledge\mlir\include
    - -IC:\Users\brass\Source\Workspaces\lledge\offload\include
    - -IC:\Users\brass\Source\Workspaces\lledge\openmp\device\include
    - -IC:\Users\brass\Source\Workspaces\lledge\openmp\runtime\src\include
    - -IC:\Users\brass\Source\Workspaces\lledge\orc-rt\include
    - -IC:\Users\brass\Source\Workspaces\lledge\polly\include
    - -IC:\Users\brass\Source\Workspaces\lledge\third-party\benchmark\include
    - -IC:\Users\brass\Source\Workspaces\lledge\third-party\boost-math\include
    - -IC:\Users\brass\Source\Workspaces\lledge\third-party\siphash\include
    - -IC:\Users\brass\Source\Workspaces\lledge\third-party\unittest\googlemock\include
    - -IC:\Users\brass\Source\Workspaces\lledge\third-party\unittest\googletest\include
    - -IC:\Users\brass\Source\Workspaces\lledge\utils\bazel\llvm-project-overlay\clang\include
    - -IC:\Users\brass\Source\Workspaces\lledge\utils\bazel\llvm-project-overlay\flang\include
    - -IC:\Users\brass\Source\Workspaces\lledge\utils\bazel\llvm-project-overlay\libc\test\include
    - -IC:\Users\brass\Source\Workspaces\lledge\utils\bazel\llvm-project-overlay\llvm\include
